<h2><%= feature.name %></h2>

<div class="col-percentage">
  <%= form_tag feature_path(feature.name), :class => "percentage_form", :method => :put, :remote => true do %>
    <label>Percentage</label>
    <select class="percentage" name="percentage">
      <% 101.times do |i| %>
        <option value="<%= i %>"<%= " selected='selected'" if feature.percentage == i.to_s %>><%= i %>%</option>
      <% end %>
    </select>
    <input type="submit" value="Save" />
  <% end %>
</div>

<div class="col-groups">
  <%= form_tag feature_path(feature.name), :class => "groups_form", :method => :put, :remote => true do %>
    <label>Groups</label>
    <select id="<%= feature.name %>_groups" class="groups" name="groups[]" multiple="multiple" data-placeholder="Choose a group">
      <% @wrapper.groups.each do |group| %>
        <option<%= " selected='selected'" if feature.groups.include?(group) %>><%= group %></option>
      <% end %>
    </select>
    <%= hidden_field_tag "groups[]", "" %>
    <input type="submit" value="Save" />
  <% end %>
</div>

<div class="col-users">
  <form accept-charset="UTF-8" action="<%= url_path("#{feature.name}/update") %>" class="users_form" data-remote="true" method="post">
    <label>Add User ID</label>
    <select id="<%= feature.name %>_users" class="users" name="users[]" multiple="multiple" data-placeholder="Enter User ID">
      <% feature.user_ids.each do |uid| %>
        <option selected="selected"><%= uid %></option>
      <% end %>
    </select>
    <input type="submit" value="Save" />
  </form>
</div>
